import { Database, PipelineBlock } from '../types';
export async function %blockName%(database: Database, config: PipelineConfig) {
  return database;
}

export class %blockName% extends PipelineBlock {
  public name: string = %blockName%.name;
  async process(database: Database, currentPullRequest: LocaleAwarePullRequest): Promise<Database> {
    return Promise.resolve(database);
  }
}
